# Project exclude paths
/springboot-simple-aliyun-oss/target/
/springboot-simple-base/target/
/springboot-simple-demo/target/
/springboot-simple-jdbc/target/
/springboot-simple-mvc/target/
/springboot-simple-redis/target/
/springboot-simple-support/target/